@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --napoli-blue: #003c82;
  --napoli-light-blue: #12a0d7;
  --napoli-gold: #ffd700;
}

body {
  background-color: var(--napoli-blue);
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
